@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
}

header {
    position: relative;
    /* border: 1px solid red; */
    height: 700px;
    background-image: url('https://wallpaperaccess.com/full/796848.jpg');
    background-size: 100%;
    background-position: center;
}

header > img {
    width: 100%;
}

header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}


nav {
    /* border: 1px solid red; */
    position: relative;
    z-index: 10;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 80px;
    align-items: center;
} 

nav .logo {
    display: flex;
    align-items: center;
    color: white;
    width: 20%;
}

nav .logo img {
    width: 20%;
}

nav .sub-menu a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: 20px;
    border-bottom: 1px solid transparent;
}

nav .sub-menu a:hover {
    border-bottom: 1px solid white;
    transition: .5s;
}

.menu-text {
    /* border: 1px solid red; */
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    color: white;
}

.menu-text h1 {
    font-size: 50px;
    font-weight: 900;
}

.menu-text p {
    font-size: 40px;
    font-weight: 900;

    color: black;
    background-color: white;
    padding: 5px 20px;
}

.menu-text span {
    font-size: 40px;
    font-weight: 900;

    color: dodgerblue;
    background-color: white;
}

.main {
    display: flex;
    width: 100%;
}

/* TABS CSS */

.main .menu {
    width: 15%;
    height: 500px;
    background-color: black;
}

.main .content {
    width: 85%;
    height: 500px;

    background-color: white;
}

/* scrollbar CSS */

::-webkit-scrollbar {
    width: 0;
}